* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.board {
  width: 100%;
  justify-content: center;
  max-width: 750px;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  margin-top: 69px;
}

h3 {
  width: 100%;
  /* max-width: 230px; */
  height: 128px;
  background-color: #eaf912;
  color: #6f2480;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1e24f5;
  margin-bottom: initial;
  font-weight: 500;
}

h1 {
  color: coral;
  margin-top: 84px;
  font-size: 43px;
  font-weight: 700;
}

body {
  background: aquamarine;
}
